.customers {
  display: flex;
  height: 90vh;
  /* background-color: red; */
  flex: 1;
}
.customers__left {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-height: 85vh;
  flex: 0.6;
  /* background-color: violet; */
}
.customers__right {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers__right img {
  height: 50vh;
}
