.money {
  display: flex;
  /* background-color: red; */
  height: 90vh;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 70px;
}
.money__left {
  /* background-color: blue; */
  flex: 0.4;
  display: flex;
  align-items: center;
}
.money__image {
  margin-left: 4rem;
}
.money__image img {
  height: 50vh;
}
.money__right {
  flex: 0.6;
  /* background-color: blue; */
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center; 
  justify-content: center;
  /* background-color: aqua; */
  

  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;

}
