.profile {
  display: flex;
  flex: 1;
  height: 90vh;
  /* background-color: red; */
  flex-wrap: wrap;
}

.profile__left {
  flex: 0.35;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__image {
}
.profile__image img {
  height: 40vh;
}
.profile__right {
  margin-top: 20px;
  flex: 0.65;
  /* background-color: blue; */
  margin-right: 20px;
  padding-right: 20px;
}
